
#page_1{
  z-index: 10;
  max-width: 100% !important;
}
.bg{
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(44, 8, 8); */

}
.hero-container{
  overflow: visible;
  position: relative;
  height: 100vh;
  height: 100svh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#hero{
  white-space: nowrap;
  grid-column-start: 2;
  grid-row-start: 2;
}
.marquee {
  z-index: 11;
  overflow: hidden !important;
  padding: 0 !important;
  height: 20vh;
  position: absolute;
  display: flex;
  width: 100%;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  top: 90%;
}
.marquee-content{
  overflow: hidden !important;
  padding: 0 !important;
  display: flex;
	flex-shrink: 0;
  min-width: 100%;
  justify-content: space-around;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.marquee-content h1{
  color: var(--inactive-color);
  transition: all 0.25s ease-in-out;
}
.marquee-content h1:hover{
  color: var(--white);
}
.marquee-content span{
  color: var(--white);
}

.desc-page{
  overflow: visible;
  position: relative;
  height: 100vh;
  height: 100svh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#desc{
  color: var(--text-color);
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
}
#desc span{
  color: var(--white);
}
#work{
  z-index: 10;
  overflow: hidden !important;
  width: 100%;
}
.work-title{
  margin-bottom: calc(var(--uni) * var(--ratio-2));
  text-align: center;
}
project{
  overflow: visible;
  background-color: red;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15vh;
}
#project-title{
  white-space: nowrap;
  font-family: var(--title);
  position: absolute;
  top: 50%;
  left: -10%;
}
project img{
  width: 50vw;
  aspect-ratio: 31 / 15;
  display: block;
  object-fit: cover;
}

@media (max-width: 768px){
  .hero-container{
    /* background-color: red; */
    display: flex;
    align-content: center;
  }
  .desc-page{
    display: flex;
    align-content: center;
  }
  #desc{
    align-self: center;
    display: block;
  }
}