
#page_1{
  z-index: 10;
  max-width: 100% !important;
}
.bg{
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(22, 20, 20);
}
.balls {
  position: absolute;
  width: 900px;
  height: 900px;
}
.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  height: 100svh;
}
#title{
  padding: 0;
  align-self: center;
  width: 100%;
  white-space: nowrap;
}
.marquee {
  z-index: 11;
  overflow: visible !important;
  padding: 0 !important;
  height: 20vh;
  position: absolute;
  display: flex;
  width: 100%;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  top: 90%;
}
.marquee-content{
  overflow: hidden !important;
  padding: 0 !important;
  display: flex;
	flex-shrink: 0;
  min-width: 100%;
  justify-content: space-around;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.marquee-content h1{
  color: var(--text-color);
  transition: all 0.25s ease-in-out;
}
.marquee-content h1:hover{
  color: var(--white);
}
.marquee-content span{
  color: var(--white);
}

.desc-page{
  overflow: visible;
  position: relative;
  height: 100vh;
  height: 100svh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#desc{
  color: var(--text-color);
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
}
#desc span{
  color: var(--white);
}
#work{
  z-index: 10;
  overflow: hidden !important;
  width: 100%;
}
.work-title{
  margin-bottom: 20vh;
  /* text-align: center; */
}
#project{
  max-height: 600px;
  align-items: center;
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15vh;
}
.text-div{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10vh;
}
.text-div p{
  display: block;
}
.text-div h1{
  font-size: var(--h1-project);
  font-family: var(--title);
}
#project img{
  width: 600px;
  aspect-ratio: 13 / 9;
  object-fit: cover;
}

@media (max-width: 768px){
  .hero-container{
    /* background-color: red; */
    display: flex;
    align-content: center;
  }
  .desc-page{
    display: flex;
    align-content: center;
  }
  #desc{
    align-self: center;
    display: block;
  }

  #title{
    /* align-self: center; */
    /* background-color: red; */
    width: 100%;
    white-space: nowrap;
    /* grid-column-start: 2;
    grid-row-start: 2; */
  }

  .text-div{
    text-align: center;
    width: 100%;
  }
  #project{
    object-fit: cover;
    width: 100%;
    flex-direction: column-reverse;
  }
  #project img{
    margin-bottom: var(--uni);
    width: 100%;
    min-height: auto;
  }
  .text-div p{
    display: none;
  }
}